/* ==========================================================================
   Global / Objects / Container
   ========================================================================== */

.o-container {
  max-width: 800px;
  padding: spacing(default);
  margin-right: auto;
  margin-left: auto;
}
