/* ==========================================================================
   UTILITIES / #SPACING
   ========================================================================== */

/**
 * For the sake of this demo, I've only included the spacing utilities I need.
 */

/* stylelint-disable declaration-no-important */

.u-margin-top {
  margin-top: map-get($spacing, default) !important;
}

.u-margin-bottom {
  margin-bottom: map-get($spacing, default) !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-large {
  margin-bottom: map-get($spacing, large) !important;
}

/* stylelint-enable */
