<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="A deliciously scalable and adaptable stylesheet methodology" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Favicons / Assets -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#fcbe00">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- Social -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@joebell_" />
<meta name="twitter:image" content="https://i.imgur.com/FcwmiV3.jpg" />
<meta property="og:url" content="https://smoothie-css.com" />
<meta property="og:title" content="Smoothie" />
<meta property="og:description" content="A deliciously scalable and adaptable stylesheet methodology" />
<meta property="og:image" content="https://smoothie-css.com/assets/favicons/og.png" />