/* ==========================================================================
   GENERIC / #RESET
   ========================================================================== */

/*! sky-toolkit-core | BSD 3-Clause | https://github.com/sky-uk/toolkit */

/**
 * As well as using Normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > {
  ul,
  ol {
    margin-bottom: 0;
  }
}

/**
 * Let’s get `<table>`s behaving how we expect.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
