// =============================================================================
// Tokens / Colors
// =============================================================================

$colors: (
  text: #000,
  link: #1978d4,
  background: #fff,
  gradient-start: #ffc371,
  gradient-end: #ff5f6d
);

// Access via `global/tools/maps`
