/* ==========================================================================
   Global / Elements / Links
   ========================================================================== */

a {
  color: color(link);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
